    <a href="/register">Register</a>
    <a href="/list">User list</a>
    <a href="/session/logout">LogOut</a>
    <a href="/loginCoder"> Coder</a>
<div>
  <h1>INFO</h1>
  <h3>O Usuario  de email: {{name}} possui acesso Coder!! </h3>
  <p>Em breve você terá autoridade em algumas funções da pagina</p>
</div>
